/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.image {
  width: 40%;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
}
.search-bar {
  width: 200px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
}
.counting {
  width: 150px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
  color: #219a6f;
}
.label {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 10px;
}
